 html {
     background-color: #fff;
     line-height: 1.2;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }
 
 *,
 *:before,
 *:after {
     -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
     box-sizing: inherit;
 }
 
 body {
     font-family: 'Open Sans', sans-serif;
     font-size: 1.2em;
     color: #fff;
     margin: 0 0;
 }
 
 h1,
 h2,
 h3,
 h4 {
     font-family: 'Montserrat', sans-serif;
 }
 
 ::-webkit-scrollbar {
     width: 0;
 }
 
 .clearfix {
     overflow: auto;
 }
 
 .background-image {
     background-image: url('img/hero-background-img-1.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     width: 100%;
     height: 100vh;
     -webkit-transition: all 1.4s ease-in-out;
     -o-transition: all 1.4s ease-in-out;
     -moz-transition: all 1.4s ease-in-out;
 }
 
 .quote-container {
     width: 100%;
     height: 100%;
 }
 
 .quote-box {
     position: absolute;
     background-color: rgba(31, 31, 31, 0.72);
     width: 760px;
     height: 350px;
     top: 50%;
     left: 50%;
     margin-top: -175px;
     margin-left: -380px;
     padding: 10px 30px;
 }
 
 .show-quote:after {
     content: '';
     display: block;
     clear: both;
 }
 
 .quote {
     font-size: 1.7em;
     padding: 10px 10px 0;
 }
 
 .quote-author {
     float: right;
     margin-bottom: 30px;
 }
 
 .bottom-bar {
     position: absolute;
     left: 20.5%;
     bottom: 12%;
 }
 
 button:focus {
     outline: 0;
 }
 
 .new-quote-btn {
     display: inline-block;
     width: 200px;
     background-color: #DE6262;
     color: #fff;
     border: none;
     vertical-align: middle;
     padding: 10px 25px;
     margin: 0 10px;
     font-family: 'Open Sans', sans-serif;
     font-weight: 400;
     font-size: 1.2em;
 }
 
 .tweet-quote {
     background-color: #FFB88C;
 }
 
 .byline {
     position: absolute;
     width: 200px;
     margin: 0 auto;
     bottom: 5px;
     left: 42%;
     font-size: 0.4em;
     text-align: center'

 }
 
 @media only screen and (max-width:761px) {
     .quote {
         font-size: 1.4em;
     }
     .quote-box {
         width: 100%;
         height: 100%;
         margin: 0 auto;
         top: 0;
         left: 0;
         padding-top: 20px;
     }
     .new-quote-btn {
         margin: 10px 5px 0;
         font-size: 1em;
     }
     .bottom-bar {
         bottom: 0;
         padding-bottom: 25px;
     }
 }
 
 @media only screen and (max-width:414px) {
     .new-quote-btn {
         display: block;
     }
     .byline {
         left: 35%;
     }
 }
